*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: aquamarine;
}
.fondo{
  height: 50%;
  width: 50%;
  background-color: blue;
  padding-left: 250px;
  padding-top: 250px;
  padding-right: 250px;
}
h1{
  color: white;
}
